@{
    ViewData["Title"] = "Home Page";
}

<div class="index-main-block">
    <h1>Welcome!</h1>
    <p>Share your expierrence with everyone</p>
    <a asp-controller="Blogs" asp-action="CreateBlog" class="write-blog">Write blog!</a>
</div>
